<html>    
<head>      
<style> 

body {
  background: url();
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}





.two{
  background-color: lightblue;
}

 
  h1.one{
    color: crimson;
    font-size: 20px;
    text-align: center;
    text-shadow: gray;
    text-transform: capitalize;
  
  
    
  }
   </style>
   </head>

<h1  class="one two">HOMEPAGE</h1>
<body class="bg" >  

<div class ="menu-bar">
  <ul style="font-size: 15px; text-align: right;">
     <a routerLink ="/"> Home </a>  &nbsp;
    <a routerLink ="/about"> About Us </a> &nbsp;
     <a routerLink ="/contact"> Contact Us </a> &nbsp;
     <a routerLink ="/login"> Sign in </a> &nbsp;
     <a routerLink ="/register"> Sign up </a> &nbsp;

  </ul>

  <h4 style="color: crimson;"> 
    Courses Available:
  </h4>
  
 <li>  <a routerLink ="/javacourse/101" routerLinkActive ="active" > Java Courses </a>   </li>
<li> <a routerLink ="/pythoncourse/201" routerLinkActive ="active" > Python Courses </a>       </li>
</div>
<div class ="content-bar" style="padding: 15px;">
  <router-outlet>      </router-outlet>

</div>
</body>
</html>